/* Import Fonts from Google "Roboto+Mono" */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:wght@400;500;700&display=swap');

/*Start of Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Globals */
.main-container {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "header header header"
        "main main main"
        "social social social";
        gap: 2rem;
    /* Body style */
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8rem;
    background-image: linear-gradient(to left top, #430049, #4d0363, #39025d, #240256, #06004e);
    color: #fff;
}
/* remove Bullets from evey unordered list  */
ul {
    list-style: none;
}
/* every a Tag will be the same */
a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
}
/* Ends of Globals */
/* ----------------------------------- */


/* Header */
header{
    /* place on body */
    grid-area: header;
    width: 100%;
    /* withen header */
    display: grid;
    grid-template-areas: 
    "heading"
    "nav";
    box-shadow: -2px 1px 0 0 #b700ff73;
    border-radius: 2rem;
    padding: 0.5em;
    margin: auto;
    text-align: center;
    letter-spacing: 1px;
    text-indent: 5px;
}
#logo{
    position: absolute;
    top:1em;
    left: 1em;
    width: 64px;
    height: 64px;
    z-index: -99;
    display: none;
}
h1{
    text-transform: uppercase;
    letter-spacing: 0;
}
#hero-title {
    font-size: 2.5rem;
    animation: typing 2s steps(25) normal;
    white-space: nowrap;
    overflow: hidden;
}
.ballalyze p{
    display: none;
    
}
#nav-links{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0.5em 0;
    font-size: 1.2em;
}
#nav-links li{
    margin:0.5em 0.2em;
}

.active{
    text-shadow: -1px -1px 5px  #b700ff;
}



/* main */
main{
    grid-area: main ;
    box-shadow: -1px 1px 4px 0 #000000bf;
    border-radius: 2rem;
    padding: 2em;  
    width: 100%;    
}

.cards-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.player-card {
    justify-self: center;
    box-shadow: 0 1px 1px 1px #b700ff73;
    width: 100%;
}
.player-card:hover {
    box-shadow: 1px 1px 0 0 #fff;
}






/* Footer */
footer{
    grid-area: social;
    border-radius: 2rem;
    box-shadow: -1px 1px 4px 0 #000000bf;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
footer img {
    max-width: 75%;
    width: auto;
    height: auto;
}
#social{
    display: flex;
    justify-content: center;
    padding: 1em 0;
}
.copyright{
    padding: 1em;
}
.disclaimer {
    font-size: 0.8rem;
    color: #ccc;
    text-align: center;
    margin-top: 1rem;
    opacity: 0.7;
    font-style: italic;
}




/* Keyframes */
@keyframes typing {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}