/* Import Fonts from Google "Roboto+Mono" */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:wght@400;500;700&display=swap');

/*Start of Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Globals */
.main-container {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "header header header"
        "main main side"
        "copyright social social";
    gap: 2rem;
    padding: 1em 0;
    /* Body style */
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8rem;
    background-image: linear-gradient(to left top, #430049, #4d0363, #39025d, #240256, #06004e);
    color: #fff;
}
/* remove Bullets from evey unordered list  */
ul {
    list-style: none;
}
/* every a Tag will be the same */
a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
}
/* Ends of Globals */
/* ----------------------------------- */



/* Header */
header{
    /* place on body */
    grid-area: header;
    width: 100%;
    /* withen header */
    display: flex;
    position: fixed;
    box-shadow: -2px 1px 0 0 #b700ff73;
    border-radius: 2rem;
    justify-content: space-between; 
    align-items: baseline;
    padding: 1em;
}
#logo{
    position: absolute;
    top:1em;
    left: 1em;
    width: 64px;
    height: 64px;
    z-index: -99;
    display: none;
}
h1{
    text-transform: uppercase;
    color: inherit;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
}
#hero-title {
    font-size: 2.5rem;
    padding: 5px;
    animation: typing 2s steps(25) normal;
    white-space: nowrap;
    overflow: hidden;
}
#nav-links li{
    margin:0.5em 0.2em;
}
nav{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 0 1em;
    box-shadow: -2px 1px 0 0 #b700ff73;
    display: none;
}
#nav-toggle:checked~nav{
    display: block;
    padding: 0.5em;
    box-shadow: -2px 0 0 0 #b700ff73;
    border-radius: 0 0 2em 2em;
}
#nav-toggle{
    display: none;
}
.nav-toggle-label{
    font-size: 2rem;
}






/* main */
main{
    grid-area: main;
    margin-top: 14rem;
}
footer{
    grid-area: social;
    background-color: green;
}