/* Import Fonts from Google "Roboto+Mono" */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:wght@400;500;700&display=swap');

/*Start of Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Globals */
.main-container {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "header header header"
        "main main main"
        "social social social";
        gap: 2rem;
    /* Body style */
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8rem;
    background-image: linear-gradient(to left top, #430049, #4d0363, #39025d, #240256, #06004e);
    color: #fff;
}
/* remove Bullets from evey unordered list  */
ul {
    list-style: none;
}
/* every a Tag will be the same */
a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
}
/* Ends of Globals */
/* ----------------------------------- */


/* Header */
header{
    /* place on body */
    grid-area: header;
    width: 100%;
    /* withen header */
    display: grid;
    grid-template-areas: 
    "heading"
    "nav";
    box-shadow: -2px 1px 0 0 #b700ff73;
    border-radius: 2rem;
    padding: 0.5em;
    text-align: center;
    letter-spacing: 1px;
    text-indent: 5px;
}
#logo{
    position: absolute;
    top:1em;
    left: 1em;
    width: 64px;
    height: 64px;
    /* hide for small devices */
    display: none;
}
h1{
    text-transform: uppercase;
    letter-spacing: 0;
}
#hero-title {
    font-size: 2.5rem;
    animation: typing 2s steps(25) normal;
    white-space: nowrap;
    overflow: hidden;
}
/* heading and p */
.ballalyze p{
    display: none;
    
}
#nav-links{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0.5em 0;
    font-size: 1.2em;
}
#nav-links li{
    margin:0.5em 0.2em;
}
.nav-bar a:hover {
    text-shadow: -1px -1px 5px #fafafa;
}
/* active page */
.active{
    text-decoration: underline;
    text-shadow: -1px -1px 10px  #ffffff;
}


/* main */
main{
    grid-area: main ;
    display: flex;
    flex-direction: column;
    box-shadow: -1px 1px 4px 0 #000000bf;
    border-radius: 2rem;
    padding: 2em;  
    width: 100%; 
    overflow: hidden;   
}

/* Cards */
#cards{
    text-align: center;
}
#cards h2{
    font-size: 2rem;
    font-style: oblique;
    font-family: monospace, 'Courier New', Courier, sans-serif;

}
.cards-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    margin: 0.5em;
}
.player-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;
    box-shadow: 0 1px 1px 1px #b700ff73;
    width: 100%;
    border-radius: 2em;
    
}
.player-card:hover {
    box-shadow: 1px 1px 0 0 #fff;
}
.player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 2em 0;
    background-image: linear-gradient(to right bottom, #43004911, #4d036311, #39025d11, #24025611, #07004e11);
    border-radius: 2em;
    font-weight: lighter;
    letter-spacing: 0;
}
.player-info > h3 {
    text-transform: uppercase;
}
.player-info p {
    font-size: 0.8rem;
    line-height: 15px;
}
.player-info span {
    background-color: #5b016d;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}
/* card picture */
.player-pic {
    max-width: 100px;
    border-radius: 10%;
    border: 1px solid #fff;
    margin: 0.5em 0;
}
/* Palyer Stats Container */
.player-stats{
    border-left: 1px solid #c06ae2ec;
    padding: 1em;
    margin-bottom: 1em;
    line-height: 2em;
    text-align: start;
}

/* Aside */
aside {
    grid-area: side;
    background-color: rgba(32, 0, 83, 0.26);
    box-shadow: 0 1px 2px 0 #ffffffbf;
    border-radius: 2rem;
    text-align: center;
    padding: 1em;
}
/* hide sidebar on smaller devices */
#to-hide{
    display: none;
}
aside h3 {
    padding: 2rem 0;
    font-size: 2rem;
    font-style: oblique;
    font-family: monospace, 'Courier New', Courier, sans-serif;
}
.side-stats {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #3e005a;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 1.5rem auto;
    width: 100%;
}
.side-stats img {
    padding: 5px;
    max-width: 100%;
    border-radius: 5px;
    border-left: 1px solid rgb(164, 0, 247);
}
.side-player-name {
    font-size: 1.2rem;
}
.side-stats p {
    padding: 5px 0;
}
.side-stats span {
    background-color: rgb(72, 255, 0);
}

/* Report */
.report-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem 0;
}

.report-container h3{
    text-align: center;
    font-size: 2rem;
    font-style: oblique;
    font-family: monospace, 'Courier New', Courier, sans-serif;
    margin-bottom: 0.5em;
}
.report-container p{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1em;
    font-style: italic;
}
.report-content {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.player-report-info{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: -1px -1px 0 0 #fff;
    padding: 1rem 0;
    border-radius: 3rem;
}
.player-report-info h4 {
    border-radius: 0.2rem;
    text-align: center;
    padding: 0.5em;
    font-size: 1.6em;
}
#player-report-image {
    width: 240px;
    height: 260px;
    border-radius: 3rem;
}
.report-stats-map {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    border-radius: 3rem;
    box-shadow: 1px 1px 0 0 #fff;
    padding: 2rem 0;
}
.report-stats-map ul{
    margin-left: 10%;
}
.report-stats-map #heat-map {
    align-self: center;
    border-radius: 1rem;
    max-width: 80%;
    height: auto;

}
.report-paragraph {
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
    padding: 0 2rem;
    margin: 2rem 0;
}
.highlight {
    color: #d400ff;
    font-weight: bold;
}
.video {
    padding: 2rem 0;
}
iframe {
    border: 5px solid #000;
    box-shadow: 1px 1px 5px 1px #aa00ff;
    border-radius: 1rem;
    min-height: 500px;
    width: 100%;
}

/* Contact */
.contact-container {
    font-family: monospace;
    font-weight: 600;
    grid-area: contact;
    background-color: #fff;
    box-shadow: 1px 2px 10px 2px #a400f7bf;
    color: #38003d;
    text-align: center;
    border-radius: 2rem;
}

.contact-container h3 {
    padding: 2rem 0;
    font-size: 2rem;
    font-style: oblique;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem auto;
    padding: 1rem 0.5rem;
    gap: 0.5rem;
    font-size: 1.2rem;
}

.contact-form .input {
    height: 2rem;
    text-align: center;
    font-size: 1.1em;
    font-family: monospace;
    border: 1px solid #a400f7;
    outline: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px #53017c9a;
}

.contact-form .input:focus {
    border: 1px solid #ea00ff;
}

.contact-form .submit {
    width: 10rem;
    font-family: monospace;
    font-size: 1.5em;
    border: 2px solid #53017c9a;
    border-radius: 10px;
    padding: 10px;
    background-color: #240256;
    color: #fff;
    margin-top: auto;
    text-align: center;
    transition: all 1s;
}

.contact-form .submit:hover {
    transform: scale(1.1);
    background-color: #600569;
}

.contact-form textarea {
    background-color: #240256;
    color: #fff;
    font-size: 1rem;
    margin: 1rem auto;
    padding: 1.5rem;
    border-radius: 10px;
    outline: none;
    line-height: 1.5;
    width: 15rem;
    height: 15rem;
    resize: none;
    transition: all 1s;
}

.contact-form textarea:hover {
    cursor: pointer;
    background-color: #600569;
}

.contact-container textarea:focus {
    cursor: text;
    border-color: #38003d;
    box-shadow: 1px 2px 10px 2px #a400f7bf;
}

/* About */
.about {
    grid-area: about;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;

}

.about h3{
    font-size: 2em;
    font-family: monospace, 'Courier New', Courier, sans-serif;
    font-style: oblique;
}
.about p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
}





/* Footer */
footer{
    grid-area: social;
    border-radius: 2rem;
    box-shadow: -1px 1px 4px 0 #000000bf;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
footer img {
    max-width: 65%;
    width: auto;
    height: auto;
}
#social{
    display: flex;
    justify-content: center;
    padding: 1em 0;
}
.copyright{
    padding: 1em;
}
.disclaimer {
    font-size: 0.8rem;
    color: #ccc;
    text-align: center;
    margin-top: 1rem;
    opacity: 0.7;
    font-style: italic;
}

/* Keyframes */
@keyframes typing {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@media(max-width: 992px) {
    .player-card{
        gap: 25%;
    }
}

@media(min-width: 992px){
    /* hide the statistics nav link */
    #nav-links #to-side{
        display: none;
    }
    /* fix the header to show the logo */
    header{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        max-height: 100px;
    }
    /* show the logo */
    #logo{
        display: block;
        width: 128px;
        height: 128px;
        position: static;
    }
    .ballalyze{
        align-self: flex-end;
    }
    /* show hero */
    .ballalyze p{
        display: inline-block;
        
    }
    main{
        /* reset grid layout to show statistics on the side bar */
        grid-area: main;
        display: grid;
        grid-template-areas:
        "main main side-show"
        "social social social";
        grid-template-columns: 3fr 1fr;
    }
    aside{
        /* give the side bar place on grid */
        grid-area: side-show;
        grid-column: -3 ;
    }
    /* display it after hidden on smaller devices */
    #to-hide{
        display: inline-block;
    }
    .cards-container {
        grid-column: 1 / 3;
        padding: 2em;
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
        gap: 2em;
    }

    #reports {
        grid-area: main;
        display: grid;
        grid-template-areas:
        "image"
        "paragraph"
        "video";
        gap: 2rem;
    }
    .player-report-info {
        grid-area: image;
        writing-mode: vertical-rl;
        text-orientation: upright;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-right: 4rem;
    }
    #player-report-image {
        grid-area: image;
        width: auto;
        height: 320px;
        border-radius: 3rem;
        box-shadow: -1px 1px 4px 0 #000000bf;
    }

    .report-stats-map {
        max-width: 100%;
        grid-area: statmap;
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        margin-left: 4rem;
    }
    .report-stats-map #heat-map {
        border-radius: 3rem;
        box-shadow: -1px 1px 4px 0 #000000bf;
    }
    .contact-container{
        grid-area: main;
        width: 100%;
        margin: 0 auto;
    }
    .contact-form textarea {
        width: 90%;
        height: 20rem;
    }
    #nav-links li{
        margin:0.5em 1rem;
    }
    .video{
        width: 55%;
    }
}